<section class='card'>
  <div class='card-body'>
    <h1>About</h1>
    <p>Discover the dynamic duo that drives high-performance, scalable applications. Harness MongoDB's
      flexible NoSQL database and Node.js' server-side JavaScript to unlock the full potential of web
      development. Innovation starts here!</p>
  </div>
</section>