<div class='jumbotron mt-4'>
  <h1 class='display-4'>Notes App Nodejs and Mongodb</h1>
  <p class='lead'>Explore an impressive note-taking application with login functionality and MongoDB database
    integration. Simplify your daily organization and keep your ideas at your fingertips. Join us and
    experience efficient note-taking like never before!</p>
  <hr class='my-4' />
  <p>Embark on a Journey of Discovery: Explore More Ingenious Creations and Unlock the Future of Technology!</p>
  <a href='https://kennethdevpc.vercel.app/' class='btn btn-primary'>Kennethdevpc</a>

</div>