<div class='jumbotron mt-4'>
  <h1 class='display-4'>Notes App Nodejs and Mongodb</h1>
  <p class='lead'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt harum vero perspiciatis
    consequatur voluptatibus consequuntur!</p>
  <hr class='my-4' />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quia!</p>
  <a href='https://kennethdevpc.vercel.app/' class='btn btn-primary'>Kennethdevpc</a>

</div>